{% extends "base.html" %}

{% block content %}

<style>
    .register-head {
        text-align: center;
        margin-top: 0.3%;
        border-radius: 50%;
        padding: 20px;
    }

    .form {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 3%;
        margin-left: 25%;
        margin-right: 25%;
        border-radius: 10%;
    }

    .form-label {
    }

    .button {
        margin-top: 3%;
        border-radius: 50%;
        font-weight: bold;
    }

    .button:hover {
        background-color: black;
        font-size: 15px;
        color: #ffff;
    }

    .other-link {
        background-color: black;
        color: white;
        width: 70%;
        margin-left: 20%;
        text-align: center;
        font-size: 20px;
    }

    .other-link .other-link-a {
        color: blue;
        text-decoration: none;
    }
</style>

{% if form.errors %}
    {% for field, error in form.errors.items %}
        <div style="background-color: black; width: 70%; margin-left: 20%; margin-top: 1.5%; text-align: center; font-size: 20px;">
            <p><small style="color: white; font-weight: bold;">{{ error  }}</small></p>
        </div>
    {% endfor %}
{% endif %}

<div>
    <h1 class="register-head">REGISTER AN ACCOUNT</h1>


    <form  class="form" action="" method="POST">
        {% csrf_token %}

        <div class="reg-form">
            <label class="form-label">Enter Your Username</label>
            <div class="form-input">
                <span>{{ form.username }}</span>
            </div>
        </div>

        <div class="reg-form">
            <label class="form-label">Enter An Active Gmail</label>
            <div class="form-input">
               {{ form.email }}
            </div>
        </div>

        <div class="reg-form">
            <label class="form-label">Enter Phone Number</label>
            <div class="form-input">
               {{ form.contact }}
            </div>
        </div>

        <div class="reg-form">
            <label class="form-label">Enter Your Password</label>
            <div class="form-input">
               {{ form.password1 }}
            </div>
        </div>

        <div class="reg-form">
            <label class="form-label">Confirm Your Password</label>
            <div class="form-input">
               {{ form.password2 }}
            </div>
        </div>

        <div class="reg-form">
            <div class="form-input-button">
                <button class="button">REGISTER</button>
            </div>
        </div>
    </form>

    <div class="other-link">
        <p>If you already have an account, <a class="other-link-a" href="{% url 'login' %}"> >: Please click here to login! :< </a></p>
    </div>
</div>


{% endblock content %}