<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUS NOTIFICATIONS</title>
</head>
<body>
<h1>Bus Departure Notifications</h1>
<div id="notification-container"></div>

<script>

    const socket = new WebSocket("ws://" + window.location.host + "/ws/notification/");

    socket.onmessage = function(event) {
        const data = JSON.parse(event.data);
        const notificationContainer = document.getElementById("notifications-container");
        const newNotification = document.createElement("p");
        newNotification.innerText = data.message;

        notificationContainer.appendChild(newNotification);
    };

    socket.onopen = function(event){
        console.log("WebSocket disconnected.");
    };

</script>
</body>
</html>